.cocktail-hero-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.name-and-favorite {
  display: flex;
  gap: 1rem;
}

.cocktail-thumbnail .g-image {
  max-width: 400px;
  max-height: 400px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
}
