.cocktail-text-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 350px;
  max-width: 800px;
}
.text-section {
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
}

.text-section h3 {
  text-decoration: underline;
}
