.cocktail-text-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 350px;
  max-width: 800px;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
  padding: 2rem;
}
.text-section {
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
}

.text-section h3 {
  text-decoration: underline;
}
